.paymentContainer {
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255);
  height: 80vh;
  margin: 2vmax;
}

.paymentForm {
  width: 50%;
  height: 100%;
}

.paymentForm > p {
  font: 400 2vmax "Roboto";
  color: rgba(0, 0, 0, 0.753);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: 2vmax 0;
  text-align: center;
  width: 80%;
  margin: auto;
}

.paymentForm > div {
  display: flex;
  align-items: center;
  margin: 3vmax 0;
}

.paymentInput {
  padding: 2vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
}

.paymentForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 2vmax;
  color: rgba(0, 0, 0, 0.623);
}

.paymentFormBtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 1.8vmax "Roboto";
  width: 100%;
  padding: 1vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.paymentFormBtn:hover {
  background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 860px) {
  .paymentForm {
    width: 80%;
  }
  #payment-heading{
    font-size: 2.7vmax;
  }
  .paymentForm > p {
    font: 400 8vw "Roboto";
    padding: 2vw 0;
    width: 50%;
  }

  .paymentForm > div {
    margin: 6vw 0;
  }

  .paymentInput {
    padding: 2vw 10vw;
  }

  .paymentForm > div > svg {
    font-size: 4vw;
  }

  .paymentFormBtn {
    font: 300 2vw "Roboto";
    padding: 2vw;
  }
}


@media screen and (max-width: 500px){
  .paymentContainer{
    height:60vh;
  }
}