*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Chrome safari edge opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* firefox */
input[ttype="number"]{
    -moz-appearance: textfield;
}

.greenColor{
    color:rgb(63, 254, 63) !important;
}
.redColor{
    color:tomato !important;
}